* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --huisstijl: #b9005f;
  --geel: #ffd05f;
  --cyaan: #46becd;
  --turkoois: #25ae93;
  --blauw: #606eb3;
  --bruin: #6a4955;
  --zand: #c9b5b2;
  --grijs: #444444;
  --licht-grijs: #d9d9d9;
  --wit: #fff;
}

.backgroundcolor {
  background-color: #f4f4f4;
  border-radius: 0.6rem;
  margin: 0 auto;
  max-width: 35rem;
  gap: 5px;
  font-family: "Fira Sans Regular";
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-areas:
    "header header"
    "left-nav right-nav"
    "middlemap middlemap";
}

h1 {
  color: var(--huisstijl);
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  font-family: "Fira Sans Medium";
}

p {
  width: 25rem;
  padding-left: 1rem;
  font-family: "Fira Sans Regular";
}

@font-face {
  font-family: "Fira Sans Regular";
  src: url("fonts/FiraSans-Regular.ttf");
}

@font-face {
  font-family: "Fira Sans Medium";
  src: url("fonts/FiraSans-Medium.ttf");
}

/* Linkerzijde mapjes */
.left-nav {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  grid-area: left-nav;
}

.roze,
.geel,
.aqua,
.groen,
.blauw {
  display: flex;
  align-items: center;
}

/* Rechterzijde mapjes */
.right-nav {
  margin: 0 auto;
  padding: 1rem;
  max-width: 8rem;
  background-color: var(--licht-grijs);
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: right-nav;
}

/* Mapjes */
svg {
  width: 5rem;
  margin-top: 2rem;
}

/* Hover effect kleuren */
.roze p,
.geel p,
.aqua p,
.groen p,
.blauw p {
  display: none;
  padding-top: 2rem;
  padding-left: 0.5rem;
}

.roze:hover p {
  display: block;
  max-width: 10rem;
  color: var(--huisstijl);
}

.geel:hover p {
  display: block;
  max-width: 10rem;
  color: var(--geel);
}

.aqua:hover p {
  display: block;
  max-width: 10rem;
  color: var(--cyaan);
}

.groen:hover p {
  display: block;
  max-width: 10rem;
  color: var(--turkoois);
}

.blauw:hover p {
  display: block;
  max-width: 10rem;
  color: var(--blauw);
}
/*  */

.middlemap {
  background-color: var(--licht-grijs);
  border-radius: 0.6rem;
  max-height: 10rem;
  display: flex;
  justify-content: center;
  grid-area: middlemap;
  margin: 1.2rem 10rem;
  padding: 1%;
}

.middlemap-hover:hover {
  background-color: var(--wit);
  border-radius: 0.6rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.header {
  grid-area: header;
}
